
<div class="form-horizontal">

	<form id="edit-form" role="form" data-toggle="validator" method="POST"
		action="">
		<div class="form-group">
			<label for="c-username" class="control-label col-xs-12 col-sm-2">订单编号:</label>
			<div class="col-xs-12 col-sm-4">
			<input id="c-username" class="form-control" name="row[express_num]"
				type="text" value="">
		</div>
	</form>
</div>

<style>
h3 {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	background-color: #eee;
}

.opertor {
	margin: auto;
	font-size: 24px;
	padding: 10px;
}

#avatar_ad {
	border: 1px solid #000;
	width: 150px;
	height: 200px;
	position: absolute;
	top: 15%;
	right: 20%;
}

.wait_physical {
	border-bottom: 1px solid #eee;
	font-size: 18px;
	padding: 10px;
	margin: 10px auto;
}
</style>