<form id="add-form" class="form-horizontal" role="form"
	data-toggle="validator" method="POST" action="">

	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Bs_uuid')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-bs_uuid" class="form-control" name="row[bs_uuid]"
				type="text">
		</div>
	</div>
	
	<div class="form-group">
	    <label for="c-avatar" class="control-label col-xs-12 col-sm-2">头像:</label>
	    <div class="col-xs-12 col-sm-8">
	        <div class="input-group">
	            <input id="c-avatar" data-rule="" class="form-control" size="50" name="row[avatar]" type="text" value="">
	            <div class="input-group-addon no-border no-padding">
	                <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传</button></span>
	                <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> 选择</button></span>
	            </div>
	            <span class="msg-box n-right" for="c-avatar"></span>
	        </div>
	        <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
	    </div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Busisess_name')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-busisess_name" class="form-control"
				name="row[busisess_name]" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-phone" class="form-control" name="row[phone]"
				type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-address" class="form-control" name="row[address]"
				type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Physical_num')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-physical_num" class="form-control"
				name="row[physical_num]" type="number">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Profession')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-profession" class="form-control" name="row[profession]"
				type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Area')}:</label>
		<div class="col-xs-12 col-sm-8">
			<div class="form-inline" data-toggle="cxselect"
				data-selects="province,city,area">
				<select class="province form-control" name="row[province]"
					data-url="ajax/area"></select> <select class="city form-control"
					name="row[city]" data-url="ajax/area"></select> <select
					class="area form-control" name="row[area]" data-url="ajax/area"></select>
			</div>

		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Charge')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-charge" class="form-control" name="row[charge]"
				type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">{:__('Ext')}:</label>
		<div class="col-xs-12 col-sm-8">
			<input id="c-ext" class="form-control" name="row[ext]" type="text">
		</div>
	</div>
	<div class="form-group layer-footer">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
			<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
		</div>
	</div>
</form>
