<div class="panel panel-default panel-intro" style="width: 900px;">
	<h3>血检查询</h3>
	<div class="panel-body form-horizontal" style="position: relative;">
		<form id="edit-form" role="form" data-toggle="validator" method="POST"
			action="">
			<div class="form-group">
				<label for="c-nickname" class="control-label col-xs-12 col-sm-2">快速检索:</label>
				<div class="form-inline" data-toggle="cxselect"
					data-selects="pid,name">
					<input id="search-a" class="form-control" name="row[search]" placeholder="请输入编号后四位"
						type="text" value="" style="margin-left: 15px;">
					<button type="submit" class="btn btn-success btn-embossed">查询</button>
				</div>
			</div>
		</form>
		<div class="form-group">
			<label for="c-username" class="control-label col-xs-12 col-sm-2">姓名:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['name']} </span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">身份证号:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['identitycard']}
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">性别:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{if
					condition="$body['sex'] eq 0"}男{else/}女{/if}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">年龄:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['age']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">手机:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['phone']} </span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业单位:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['company']}
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业类别:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{$body['employee']}
				</span>
			</div>
		</div>
		<div id="avatar_ad">
			<img width="102" height="126" src="data:image/jpeg;base64,{$body['images']}" border="0">
		</div>
		
		<div class="wait_physical"style="padding-left: 45px;">
			待体检项：<span style="color:red;">{$wait_physical}</span>
		</div>

		<form id="edit-form" role="form" data-toggle="validator" method="POST"
			  action="{:url('index/windows.blood/save')}">
			{foreach $inspect as $index=>$vo}
			<div class="form-group">
				<input type="hidden" value="{$vo['id']}"> <label
					for="c-nickname" class="control-label col-xs-12 col-sm-2">{$vo.name}:</label>
				<div class="form-inline">
					<input type="hidden" name="order_serial_number"
						   value="{$body['order_serial_number']}"> <select
						class="first form-control" name='frist[]'
						onchange="getInspect({$vo.id},this.value)" style="width: 100px;">
					<option value="0-{$vo.id}" {if condition="$vo.physical_result eq 0"
							}selected="selected"{/if}>阴性</option>
					<option value="1-{$vo.id}" {if condition="$vo.physical_result eq 1"
							}selected="selected"{/if}>阳性</option>
				</select> <select id='inspace-1-{$vo.id}' class="second form-control"
								  name="result[]"
								  style="width: 100px;{if condition='$vo.physical_result neq 1'}visibility:hidden{/if}">
					{foreach $vo.values as $k=>$v}
					<option value="{$v['id']}" {if
							condition="$v.id == $vo.physical_result_ext" }selected="selected"{/if}>{$v['name']}</option>
					{/foreach}
				</select>
				</div>
			</div>
			{/foreach}

			<div class="form-group layer-footer">
				<label class="control-label col-xs-12 col-sm-2"></label>
				<div class="col-xs-12 col-sm-8">
					<button type="submit" class="btn btn-success btn-embossed">保存登记信息</button>
					<button type="reset" class="btn btn-default btn-embossed">重置</button>
				</div>
			</div>

		</form>
		
		<div class="opertor">操作员： {$operate['nickname']}</div>
	</div>

</div>
<script type="text/javascript">
function getInspect(id,value){

	var strs= new Array(); //定义一数组
	strs=value.split("-"); //字符分割
    if(strs[0]==0){
        $("#inspace-1-"+id).css("visibility","hidden");
    }else{
        $("#inspace-1-"+id).css("visibility","visible");
    };
}


</script>
<style>
h3 {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	background-color: #eee;
}

.opertor {
	margin: auto;
	font-size: 24px;
	padding: 10px;
}

#avatar_ad {
	border: 1px solid #ccc;
	width: 102px;
	height: 126px;
	position: absolute;
	top: 10%;
	right: 20%;
}

.wait_physical {
	border-bottom: 1px solid #eee;
	font-size: 18px;
	margin: 10px auto;
}
</style>