<div class="panel panel-default panel-intro">
	<h3>体检查询</h3>
	{:build_heading()}

	<div class="panel-body">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="one">
				<div class="widget-body no-padding">
					<div id="toolbar" class="toolbar">
						{:build_toolbar('refresh')}
						<!--  <div class="dropdown btn-group {:$auth->check('user/user/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div> -->

						<a href="javascript:;" data-name="withdraw" class="btn btn-default btn-selected btn-disabled"
							style="font-size: 14px; color: white; background: #18bc9c;">
							<span class="extend"> 打印所选用户</span> </span>
						</a>
						
						<!-- <a href="{:url('service.search/expUser')}" class="btn btn-default expUser btn-disabled" style="font-size: 14px; color: white; background: #18bc9c;"> -->
						<a href="javascript:;" class="btn btn-default expUser btn-disabled"
							style="font-size: 14px; color: white; background: #18bc9c;">
							导出excel
						</a>

						<!-- <a href="" data-name="withdraw" class="btn btn-default"
							style="font-size: 14px; color: white; background: #18bc9c;">
							<span class="extend"> 批量操作</span> </span>
						</a> -->
					</div>
					<table id="table"
						class="table table-striped table-bordered table-hover"
						data-operate-add="{:$auth->check('physical/enregister/add')}"
						width="100%">
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
<script>
/* 	$("document").ready(function(){
		$("#excel").click(function(){
			$.ajax({
				url : "service/search/expUser",
				data : {},
				type : "get",
				dataType : "json",
				async : true,
				success : function(obj) {
					
				},
				error : function(msg) {
				}

			})
		})
	}); */
</script>
<style>
h3 {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	background-color: #eee;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid transparent;
}

.btn-xs, .btn-group-xs>.btn {
	padding: 3px 7px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.btn-primary {
	color: #fff;
	background-color: #18bc9c;
}
</style>