<div class="content">
    <div class="panel panel-default panel-intro" style="width: 1000px;">
        <h3>详细信息</h3>
        <div class="panel-body" style="position: relative; min-height:400px; ">
            <h4>个人信息</h4>
            <div style="border-bottom: 1px solid #eee; height:230px; background-color:#ffffff; padding: 10px">
                <div class="form-group width-1">
                    <div class="context-b">
                        <i class="form-name" style="line-height:40px;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</i>
                        <span class="form-controller width-2">{$info['name']}</span>
                    </div>
                    <div class="context-b" style="margin-left:-40px;">
                        <i class="form-name" style="line-height:40px;">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:</i>
                        <span class="form-controller width-3">{if condition="$info['sex'] eq 0"}男{else/}女{/if}</span>
                    </div>
                    <div class="context-b">
                        <i class="form-name" style="line-height:40px;">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:</i><span class="form-controller width-3">{$info['age']}</span>
                    </div>
                </div>

                <div class="form-group width-1">
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">身份证号:</i><span class="form-controller width-2">{$info['identitycard']}</span>
                    </div>
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">联系电话:</i><span class="form-controller width-2">{$info['phone']}</span>
                    </div>
                </div>
                <div class="form-group width-1">
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">体检编号:</i><span class="form-controller width-2">{$info['order_serial_number']}</span>
                    </div>
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">从业类别:</i>
                        <span class="form-controller width-2">
                            {if condition="$info['employee_id'] eq 1"}公共场所{/if}
                            {if condition="$info['employee_id'] eq 2"}食品{/if}
                            {if condition="$info['employee_id'] eq 3"}药品{/if}
                            {if condition="$info['employee_id'] eq 4"}化妆品{/if}
                            {if condition="$info['employee_id'] eq 5"}保健食品{/if}
                            {if condition="$info['employee_id'] eq 6"}医疗器械{/if}
                            {if condition="$info['employee_id'] eq 7"}其他{/if}
                        </span>
                    </div>
                </div>
                <div class="form-group width-1">
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">操&nbsp;作&nbsp;人:</i>
                        <span class="form-controller width-2">{$info['nickname']}</span>
                    </div>
                    <div class="context-a">
                        <i class="form-name" style="line-height:40px;">打卡次数:</i>
                        <span class="form-controller width-2">{$count}</span>
                    </div>
                </div>
                <div id="avatar_ad" style="float:right;margin-right:100px;margin-top: -20px;">
                    <img width="102" height="126" src="data:image/jpeg;base64,{$info['images']}" alt="">
                </div>
            </div>
                <div class="result">
                    <div class="result-a">
                        <div class="result-blood">
                            <h4>体征</h4>
                            {foreach $body as $index=>$vo}
                            <div class="form-group" style="margin-top: 10px;">
                                <input type="hidden" value="{$vo['id']}"> <label style="line-height: 30px;"
                                                                                 for="c-nickname" class="control-label col-xs-12 col-sm-2">{$vo.name}:</label>
                                <div class="form-inline">
                                    <select
                                        class="first"
                                        onchange="getInspect({$vo.id},this.value)"
                                        style="width:100px;height:30px;line-height:30px;padding-left:10px;">
                                    <option value="0-{$vo.id}" {if condition="$vo.physical_result eq 0"
                                            }selected="selected"{/if}>阴性</option>
                                    <option value="1-{$vo.id}" {if condition="$vo.physical_result eq 1"
                                            }selected="selected"{/if}>阳性</option>
                                </select> <select id='inspace-1-{$vo.id}' class="second"
                                                  name="result[]"
                                                  style="width:200px;height:30px;line-height:30px;padding-left:10px;{if condition='$vo.physical_result  neq 1'}visibility:hidden{/if}">
                                    {foreach $vo.values as $k=>$v}
                                    <option value="{$v['id']}" {if
                                            condition="$v.id == $vo.physical_result_ext"
                                            }selected="selected"{/if}>{$v['name']}</option> {/foreach}
                                </select>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        <div class="result-blood">
                            <h4>X线胸透或胸部拍片</h4>
                            {foreach $tous as $index=>$vo}
                            <div class="form-group" style="margin-top: 10px;">
                                <input type="hidden" value="{$vo['id']}">
                                <label style="width:100px;line-height: 30px;" for="c-nickname" class="control-label col-xs-12 col-sm-2">{$vo.name}:</label>
                                <div class="form-inline">
                                     <select
                                        class="first" name='frist[]'
                                        onchange="getInspect({$vo.id},this.value)"
                                        style="width:100px;height:30px;line-height:30px;padding-left:10px;">
                                    <option value="0-{$vo.id}" {if condition="$vo.physical_result eq 0"
                                            }selected="selected"{/if}>阴性</option>
                                    <option value="1-{$vo.id}" {if condition="$vo.physical_result eq 1"
                                            }selected="selected"{/if}>阳性</option>
                                </select> <select id='inspace-1-{$vo.id}' class="second"
                                                  name="result[]"
                                                  style="width:200px;height:30px;line-height:30px;padding-left:10px;{if condition='$vo.physical_result  neq 1'}visibility:hidden{/if}">
                                    {foreach $vo.values as $k=>$v}
                                    <option value="{$v['id']}" {if
                                            condition="$v.id == $vo.physical_result_ext"
                                            }selected="selected"{/if}>{$v['name']}</option> {/foreach}
                                </select>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                    <div class="result-a">
                        <div class="result-blood">
                            <h4>便检</h4>
                            {foreach $conven as $index=>$vo}
                            <div class="form-group" style="margin-top: 10px;">
                                <input type="hidden" value="{$vo['id']}"> <label style="line-height: 30px;width:120px;"
                                                                                 for="c-nickname" class="control-label col-xs-12 col-sm-2">{$vo.name}:</label>
                                <div class="form-inline">
                                    <select class="first" name='frist[]'
                                        onchange="getInspect({$vo.id},this.value)"
                                        style="width:100px;height:30px;line-height:30px;padding-left:10px;">
                                    <option value="0-{$vo.id}" {if condition="$vo.physical_result eq 0"
                                            }selected="selected"{/if}>阴性</option>
                                    <option value="1-{$vo.id}" {if condition="$vo.physical_result eq 1"
                                            }selected="selected"{/if}>阳性</option>
                                </select> <select id='inspace-1-{$vo.id}' class="second"
                                                  style="width:200px;height:30px;line-height:30px;padding-left:10px;{if condition='$vo.physical_result  neq 1'}visibility:hidden{/if}">
                                    {foreach $vo.values as $k=>$v}
                                    <option value="{$v['id']}" {if
                                            condition="$v.id == $vo.physical_result_ext"
                                            }selected="selected"{/if}>{$v['name']}</option> {/foreach}
                                </select>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        <div class="result-blood">
                            <h4>血检结果</h4>
                            {foreach $blood as $index=>$vo}
                            <div class="form-group" style="margin-top: 10px;">
                                <input type="hidden" value="{$vo['id']}"> <label style="line-height: 30px;width:120px;"
                                                                                 for="c-nickname" class="control-label col-xs-12 col-sm-2">{$vo.name}:</label>
                                <div class="form-inline">
                                    <select class="first" name='frist[]'
                                            onchange="getInspect({$vo.id},this.value)"
                                            style="width:100px;height:30px;line-height:30px;padding-left:10px;">
                                        <option value="0-{$vo.id}" {if condition="$vo.physical_result eq 0"
                                                }selected="selected"{/if}>阴性</option>
                                        <option value="1-{$vo.id}" {if condition="$vo.physical_result eq 1"
                                                }selected="selected"{/if}>阳性</option>
                                    </select> <select id='inspace-1-{$vo.id}' class="second"
                                                      style="width:200px;height:30px;line-height:30px;padding-left:10px;{if condition='$vo.physical_result  neq 1'}visibility:hidden{/if}">
                                    {foreach $vo.values as $k=>$v}
                                    <option value="{$v['id']}" {if
                                            condition="$v.id == $vo.physical_result_ext"
                                            }selected="selected"{/if}>{$v['name']}</option> {/foreach}
                                </select>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <div class="clean"></div>
        </div>

    </div>
    <script>
        function getInspect(id,value){
            var strs= new Array(); //定义一数组
            strs=value.split("-"); //字符分割
            if(strs[0]==0){
                $("#inspace-1-"+id).css("visibility","hidden");
            }else{
                $("#inspace-1-"+id).css("visibility","visible");
            };
        }
    </script>
    <style>
        h3 {
            padding: 15px 10px;
            border-bottom: 1px solid #ccc;
            margin: auto;
            background-color: #eee;
        }
        h4 {
            height: 30px;
            background-color: #ccc;
            vertical-align: middle;
            margin: 0;
            line-height: 30px;
            padding-left: 10px;
        }
        #avatar_ad {
            border: 1px solid #ccc;
            width: 104px;
            height: 129px;
            position: absolute;
            top: 100px;
            right: 100px;
        }
        .width-1 {
            width:660px;
        }
        .width-2 {
            width: 210px;
        }
        .width-3 {
            width: 50px;
        }
        .form-group1 {
            width:450px;
            height:30px;
        }
        .form-controller {
            border-radius: 0;
            box-shadow: none;
            border-color: #d2d6de;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            height: 31px;
            padding: 6px 12px;
            font-size: 12px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow
            ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
            .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-name {
            height: 31px;
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
            margin-right: 5px;
            font-size: 14px;
        }

        .context-b {
            display: inline-block;
            margin-right: 40px;
        }

        .context-a {
            display: inline-block;
            margin-right: 2px;
        }

       .lable{
           line-height:30px;
           margin-left:10px;
       }

        .result-a {
            float: left;
            width: 485px;
        }

        .result-blood {
            border: 1px solid #eee;
            width: 95%;
            margin: 10px auto;
        }

        .clean {
            clean: both;
            margin: 0;
            padding: 0;
        }
    </style>
</div>