<div class="panel panel-default panel-intro" style="width: 900px;">
	<h3>打印健康证</h3>
	<div class="panel-body form-horizontal" style="position: relative;">
		<form id="edit-form" role="form" data-toggle="validator" method="POST"
			action="">
			<div class="form-group">
				<label for="c-nickname" class="control-label col-xs-12 col-sm-2">快速检索:</label>
				<div class="form-inline" data-toggle="cxselect"
					data-selects="pid,name">
					<input id="search-a" class="form-control" name="row[search]"
						placeholder="请输入12位体检编号" type="text" value="">
					<button type="submit" class="btn btn-success btn-embossed">查询</button>
				</div>
			</div>
		</form>
		<div class="form-group">
			<label for="c-username" class="control-label col-xs-12 col-sm-2">姓名:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['name']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">身份证号:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['identitycard']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">性别:</label>
			<div class="col-xs-12 col-sm-4">
				<span id="c-username" class="form-control">{if
					condition="$body['sex'] eq 0"}男{else/}女{/if}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">年龄:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['age']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">手机:</label>
			<div class="col-xs-12 col-sm-4">

				<span class="form-control">{$body['phone']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业单位:</label>
			<div class="col-xs-12 col-sm-4">

				<span class="form-control">{$body['company']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业类别:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['employee']}</span>
			</div>
		</div>
		<div id="avatar_ad">
			<img width="102" height="126"
				src="data:image/jpeg;base64,{$body['images']}" border="0">
		</div>
		<div class="wait_physical">
			体检结果：<span>{$result}</span>
		</div>

		<div id="avatar_ad"></div>
		<div class="form-group layer-footer">
			<div class="col-xs-12 col-sm-8">
				<button type="button" onclick="myPreview()"
					class='btn btn-success btn-embossed {if condition="$print.physical_result == 0"}disabled{/if}'>打印健康证</button>
				<button type="button" onclick="myOrderPreview()"
					class='btn btn-success btn-embossed {if condition="$print.physical_result == 0"}disabled{/if}'>打印复验单</button>
			</div>
		</div>
	</div>

</div>
<div id="aaa"></div>
{include file="common/physicalform" /}
<script src="/LodopFuncs.js"></script>
<script>
	function myPreview() {
		if(!{$print['is_out']}){
			alert("打印卡数量不足");
			return false;
		}
		// //1公共卫生2食药安全
		// if({$print['physictype']} == 1){
		// 	CreatePrintPage();
		// }else{
		// 	CreatePrintPage1();
		// }
		if({$print['physictype']}){
            CreatePrintPage();
		}else{
            CreatePrintPage1();
		}

		if (LODOP.SET_PRINTER_INDEX({$print['print_card_id']})){
			$.ajax({
				url : "common/updatePrint",
				data : {
					'order_num' : {$order_num}
				},
				type : "post",
				dataType : "json",
				async : true,
				success : function(obj) {
				},
				error : function(msg) {
					$("#aaa").html(msg.responseText);
				}

			})
		}
		LODOP.PREVIEW();
				       
	};
	function CreatePrintPage() {		
        LODOP = getLodop();
        LODOP.PRINT_INITA("0", "0", "86.6mm", "56.4mm", "打印控件功能演示_Lodop功能_在线编辑获得程序代码");
        LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Shilh\\Desktop\\QQ截图20190702132927.png");
        LODOP.ADD_PRINT_TEXT("32mm", "25mm", "100", "30", "{$print['name']}");//姓名
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT("32mm", "48mm", "100", "30", "{$print['sex']}");//性别
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT("36mm", "25mm", "100", "30", "{$print['employee']}");//从业类别
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT("41mm", "25mm", "60mm", "30", "{$print['obtain_employ_number']}"); //健康证号
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_TEXT("45.5mm", "25mm", "100", "30", "{$print['endtime']}");//到期时间
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
        LODOP.ADD_PRINT_IMAGE("30mm","62mm","40mm","40mm","<img style=\"position:absolute;left:1px;top:1px;\" height='75' width='62' src=\"data:image/jpeg;base64,{$print['images']}\"/><img style=\"position:absolute;top:40px;\" height='40' width='40' border='0' src='{$print['avatar']}' style='z-index: 999'/>");
        LODOP.ADD_PRINT_IMAGE("29mm","51mm","11.91mm","11.91mm","<img src=\"http://39.100.89.92:8080/qrcode/build?text=http://39.100.89.92:8080&label=FastAdmin&size=35&padding=2\">"); //二维码
        LODOP.ADD_PRINT_TEXT("50mm", "25mm", "100", "30", "{$print['company']}");//体检单位
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 8);
    };
/**
 * 工牌正面
 * */
    function gongpai1() {
        LODOP = getLodop();
        LODOP.PRINT_INITA("0", "0", "86.6mm", "56.4mm", "打印控件功能演示_Lodop功能_在线编辑获得程序代码");
        LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Shilh\\Desktop\\QQ截图20190702132927.png");
    	LODOP.ADD_PRINT_TEXT("55mm", "14mm", "100", "30", "姓名:");//姓名
    	LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
    	LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
    	LODOP.ADD_PRINT_LINE("60mm","26mm","60mm","48mm",0,1);

    	LODOP.ADD_PRINT_TEXT("55mm", "26mm", "100", "30", "商凯棋");//姓名
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT("62mm", "14mm", "100", "30", "职务:");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
    	LODOP.ADD_PRINT_LINE("66mm","26mm","66mm","48mm",0,1);

		LODOP.ADD_PRINT_TEXT("62mm", "26mm", "100", "30", "PHP");
		LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT("69mm", "14mm", "60mm", "30", "部门:");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
    	LODOP.ADD_PRINT_LINE("74mm","26mm","74mm","48mm",0,1);

		LODOP.ADD_PRINT_TEXT("69mm", "26mm", "60mm", "30", "软件信息部");
		LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT("76mm", "14mm", "100", "30", "编号:");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
    	LODOP.ADD_PRINT_LINE("80mm","26mm","80mm","48mm",0,1);

		LODOP.ADD_PRINT_TEXT("76mm", "26mm", "100", "30", "33");
		LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_IMAGE("25mm","18mm","40mm","40mm","<img style=\"position:absolute;left:1px;top:1px;\" height='95' width='80' src=\"data:image/jpeg;base64,{$print['images']}\"/>");
    };
	/**
     * 工牌反面
     * */
    function gongpai2() {
        LODOP = getLodop();
        LODOP.PRINT_INITA("0", "0", "86.6mm", "56.4mm", "打印控件功能演示_Lodop功能_在线编辑获得程序代码");
        LODOP.ADD_PRINT_TEXT("28mm", "14mm", "150", "30", "工作证");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 28);

        LODOP.ADD_PRINT_TEXT("43mm", "3mm", "150", "30", "工作证使用须知");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 10);

        LODOP.ADD_PRINT_TEXT("50mm", "3mm", "185", "30", "1、本工作证只限于公司在职人员使用、转借、涂改无效。");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 7);

        LODOP.ADD_PRINT_TEXT("58mm", "3mm", "185", "30", "2、进入公司任何区域均需正确佩戴本证。");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 7);

        LODOP.ADD_PRINT_TEXT("62mm", "3mm", "185", "30", "3、员工离职、请将本证交回人事部。");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 7);

        LODOP.ADD_PRINT_TEXT("66mm", "3mm", "185", "30", "4、如有损坏或遗失、请及时到人事部补办。");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 7);

        LODOP.ADD_PRINT_TEXT("74mm", "3mm", "185", "30", "5、如拾获本证、请交回本公司。");
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 7);

    };

    function CreatePrintPage1() {	
        LODOP = getLodop();
        LODOP.PRINT_INITA(0, 0, "86.6mm", "56mm", "打印控件功能演示_Lodop功能_在线编辑获得程序代码");
        LODOP.ADD_PRINT_TEXT("36mm", "48mm", 97, 30, "{$print['employee']}");  //从业类别
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 9);
        LODOP.ADD_PRINT_TEXT("40mm", "48mm", 100, 30, "{$print['name']}");  //姓名
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 9);
        LODOP.ADD_PRINT_TEXT("40mm", "76mm", 50, 30, "{$print['sex']}");  //性别
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 9);
        LODOP.SET_PRINT_STYLEA(0, "Angle", 4);
        LODOP.ADD_PRINT_IMAGE("25mm","10mm","16mm","20mm","<img style=\"position:absolute;left:1px;top:1px;\" height='75' width='62' src=\"data:image/jpeg;base64,{$print['images']}\"/><img style=\"position:absolute;left:10px;top:30px;\" height='50' width='50' border='0' src='http://39.100.89.92:8080/{$print['avatar']}' style='z-index: 999'/>");//图片
        LODOP.ADD_PRINT_IMAGE("25mm","27mm","11.91mm","11.91mm","<img src=\"http://39.100.89.92:8080/qrcode/build?text=http://39.100.89.92:8080&label=FastAdmin&size=35&padding=2\">"); //二维码
        LODOP.ADD_PRINT_TEXT("44.5mm", "48mm", 157, 30, "2019年12月31日");//到期时间
        LODOP.SET_PRINT_STYLEA(0, "FontName", "华文楷体");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 9);
        LODOP.ADD_PRINT_TEXT("50mm", "23mm", 230, 29, "{$print['obtain_employ_number']}"); //健康正号
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 9);
    }
    
    function myOrderPreview(){
    	LODOP = getLodop();
		LODOP.PRINT_INITA(9, 0, 794, 1122, "打印控件功能演示_Lodop功能_在线编辑获得程序代码");
		LODOP.SET_PRINT_MODE("PRINT_NOCOLLATE", 1);
		LODOP.ADD_PRINT_IMAGE(10, 60, 102, 126, "<img src=\"http://39.100.89.92:8082/barcodegen/html/image.php?filetype=PNG&dpi=85&scale=3&rotation=0&font_family=Arial.ttf&font_size=19&text=123456789541&thickness=35&start=A&code=BCGcode128\">");
		LODOP.ADD_PRINT_TEXT(43, 150, 465, 45, "河北省食品药品从业人员健康检查表");
		LODOP.SET_PRINT_STYLEA(0, "FontName", "黑体");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 20);
		LODOP.SET_PRINT_STYLEA(0, "Alignment", 2);
		LODOP.ADD_PRINT_SHAPE(4, 150, 46, 702, 2, 0, 1, "#000000");
		LODOP.ADD_PRINT_TEXT(122, 50, 79, 26, "体检日期: ");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 11);
		LODOP.ADD_PRINT_TEXT(122, 570, 160, 26, "编号：{$print['order_serial_number']}");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
		LODOP.ADD_PRINT_TEXT(122, 140, 170, 26, "{$print['time']}");
		LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
		//LODOP.ADD_PRINT_HTM(160, 50, 465, 126, document.getElementById("print_6").innerHTML);
		
        LODOP.ADD_PRINT_TEXT(170, 70, 50, 26, "姓名:");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(170, 120, 60, 26, "{$print['name']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(170, 240, 60, 26, "性别:");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(170, 300, 60, 26, "{$print['sex']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(170, 400, 60, 26, "年龄");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(170, 460, 60, 26, "{$print['age']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT(210, 70, 80, 26, "从业类别");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(210, 150, 80, 26, "{$print['employee']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(210, 300, 80, 26, "体检单位");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(210, 380, 80, 26, "{$print['company']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT(250, 70, 80, 26, "身份证号");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(250, 150, 200, 26, "{$print['identitycard']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        
        
        LODOP.ADD_PRINT_TEXT(980, 70, 80, 26, "姓名:");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(980, 120, 200, 26, "{$print['name']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT(980, 200, 100, 26, "身份证号:");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(980, 270, 200, 26, "{$print['identitycard']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(1000, 70, 80, 26, "性别:");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(1000, 120, 200, 26, "{$print['sex']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);

        LODOP.ADD_PRINT_TEXT(1000, 150, 79, 26, "体检日期: ");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 11);
        LODOP.ADD_PRINT_TEXT(1000, 220, 170, 26, "{$print['time']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(1000, 350, 170, 26, "体检编号：");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        LODOP.ADD_PRINT_TEXT(1000, 420, 160, 26, "{$print['order_serial_number']}");
        LODOP.SET_PRINT_STYLEA(0, "FontSize", 12);
        
        
		
		LODOP.ADD_PRINT_IMAGE(160, 600, 102, 126, "<img src=\"data:image/jpeg;base64,{$print['order_serial_number']}\"/>");
		LODOP.SET_PRINT_STYLEA(0, "TransColor", "#0F0100");
		LODOP.ADD_PRINT_TABLE(290, 56, 680, 760, document.getElementById("print_8").innerHTML);
		LODOP.PREVIEW();
    }
</script>
<style>
h3 {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	background-color: #eee;
}

.opertor {
	margin: auto;
	font-size: 24px;
	padding: 10px;
}

#avatar_ad {
	border: 1px solid #ccc;
	width: 102px;
	height: 126px;
	position: absolute;
	top: 27%;
	right: 20%;
}

.wait_physical {
	border-bottom: 1px solid #eee;
	font-size: 18px;
	margin: 10px auto;
}
</style>

