<!-- <OBJECT classid="clsid:F1317711-6BDE-4658-ABAA-39E31D3704D3"
	codebase="SDRdCard.cab#version=2,0,1,0" width=0 height=0 id=idcard
	name=rdcard> </OBJECT> -->
	<form id="edit-form" data-toggle="validator" class="form-horizontal"
	method="POST" action="">

	<div class="form-group">
		<label for="c-gender" class="control-label col-xs-12 col-sm-2">预约类型:</label>
		<div class="col-xs-12 col-sm-8">{:build_radios('row[type]',
			['0'=>'个人', '1'=>'团体','2'=>'临时登记'])}</div>
	</div>
	<div class="form-group">
		<label for="c-name" class="control-label col-xs-12 col-sm-2">姓名:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-username" class="form-control" name="row[name]"
				type="text" value="" data-rule="required">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">身份证号:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="identitycard" class="form-control"
				name="row[identitycard]" type="text" value="" data-rule="required">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">性别:</label>
		<div class="col-xs-12 col-sm-4">{:build_radios('row[sex]',
			['0'=>'男', '1'=>'女'],null,"c-sex")}</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">年龄:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-age" class="form-control" name="row[age]" type="text"
				value="" data-rule="required">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">手机:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-phone" class="form-control" name="row[phone]"
				type="text" value="" data-rule="required;phone">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业类别:</label>
		<div class="col-xs-12 col-sm-4">
			<select class="first" name="row[parent]" id="pid-s" style="width:238px;height:29px;line-height:29px;padding-left:10px;border: #d2d6de 1px solid;">
			{foreach $physcal_type as $index=>$vo}
				<option value="{$vo.id}" {if condition="$vo.id eq $congye"} selected="selected"{/if}>{$vo.name}</option> 
			{/foreach}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业单位:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-nickname" class="form-control" name="row[company]"
				type="text" value="{$Think.session.company}">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">是否选择邮寄:</label>
		<div class="col-xs-12 col-sm-4">
			{:build_radios('row[express]',['0'=>'自取', '1'=>'邮寄'],null,'express')}
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">是否打印条形码:</label>
		<div class="col-xs-12 col-sm-4">
			{:build_radios('row[barcode]',['0'=>'是', '1'=>'否'],null,'express')}
		</div>
	</div>
	<div class="form-group" id="express">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">邮寄地址:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-nickname" class="form-control" name="row[address]"
				type="text" value="">
		</div>
	</div>

	<div id="avatar_ad">
		<img width="102" id="imgs" height="126" src="" border="0">
	</div>

	<div id="avatar_ad1">
		<div id="webcam"></div>
    	<button type="button" class="play">拍照</button>
	</div>
	<input name="row[avatar]" id="avatar" type="hidden" value="">
	<div class="form-group layer-footer">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<button type="submit" class="btn btn-success btn-embossed">保存登记信息</button>
			{if condition="$isprint eq 4"}
			<button type="button" onclick='print()' class="btn btn-default"
				style="background-color: #2c3e50; color: white;">打印体检单</button>
			{/if}
		</div>
	</div>
</form>

<script src="/jquery.min.js"></script>
<script src="/jquery.webcam.min.js"></script>
<!-- <script for=idcard event="Readed()">
	document.getElementById("avatar").value = rdcard.JPGBuffer;
	document.getElementById("imgs").setAttribute("src",
			"data:image/jpeg;base64," + rdcard.JPGBuffer);
	document.getElementById("identitycard").value = rdcard.CardNo;
	document.getElementById("c-username").value = rdcard.NameL;
	//document.getElementById("c-sex").value = rdcard.sex;
	var age = jsGetAge(rdcard.born);
	document.getElementById("c-age").value = age;
</script>

<script for=idcard event="Closed()">
	//window.close();
</script>

<script for=idcard event="Opened()">
	//window.close();
</script> -->

<script language="javascript" src="/LodopFuncs.js"></script>
<script type="text/javascript">
	// window.onbeforeunload = onbeforeunload_handler;
	// function onbeforeunload_handler() {
	// 	var pp;
	// 	pp = rdcard.closeport();
	// 	rdcard.deleteoutputfile();
	// }

	$(document).ready(function() {
		setTimeout("read()", 3000, true);

	});


	//js读取身份证信息		
	// function st() {
	// 	var pp;
	// 	pp = rdcard.ReadCard2();
	// }

	
</script>
<script>
    function read(){
    	if(!window.WebSocket)
		{
			alert("该版本浏览器不支持WebSocket");
		}

		var websocket = new WebSocket("ws://127.0.0.1:9000/");
		    //console.log(websocket);
             console.log(websocket.readyState);
			websocket.onopen = function(evt) 
			{ 
            	//onOpen(evt) 
				websocket.send("<ReadIdCard>");
					// console.log(evt);
        	}; 

        	websocket.onclose = function(evt) 
			    { 
            	//onClose(evt) 
	
				
        	}; 

        	websocket.onmessage = function(evt) 
			   {   

				var evtData = evt.data;
				var dataInfo = evtData.split(',');

				console.log(dataInfo);
				var addrstr = document.getElementById("avatar").value = dataInfo[12].substr(0,dataInfo[12].length-1);
                // console.log(addrstr);
	            document.getElementById("imgs").setAttribute("src","data:image/jpg;base64,"+addrstr);
	            document.getElementById("identitycard").value = dataInfo[8];
	            document.getElementById("c-username").value = dataInfo[2];
				var age = jsGetAge(dataInfo[6]);
				document.getElementById("c-age").value = age;
				// document.getElementById("c-sex").value = dataInfo[3];
				// console.log(dataInfo[3]);


				//console.log(evt);
            	//onMessage(evt) 
				//document.getElementById("cardinfo").value = evt.data;
				websocket.close();
         }; 

        	websocket.onerror = function(evt) 
			    { 
            	//onError(evt) 
				      websocket.close();
        	}; 
    }

    function jsGetAge(strBirthday) {
		var returnAge;
		var birthYear = strBirthday.substring(0, 4);
		var birthMonth = strBirthday.substring(4, 6);
		var birthDay = strBirthday.substring(6, 8);

		d = new Date();
		var nowYear = d.getFullYear();
		var nowMonth = d.getMonth() + 1;
		var nowDay = d.getDate();

		if (nowYear == birthYear) {
			returnAge = 0;//同年 则为0岁
		} else {
			var ageDiff = nowYear - birthYear; //年之差
			if (ageDiff > 0) {
				if (nowMonth == birthMonth) {
					var dayDiff = nowDay - birthDay;//日之差
					if (dayDiff < 0) {
						returnAge = ageDiff - 1;
					} else {
						returnAge = ageDiff;
					}
				} else {
					var monthDiff = nowMonth - birthMonth;//月之差
					if (monthDiff < 0) {
						returnAge = ageDiff - 1;
					} else {
						returnAge = ageDiff;
					}
				}
			} else {
				returnAge = -1;//返回-1 表示出生日期输入错误 晚于今天
			}
		}

		return returnAge;//返回周岁年龄

	}
</script>

<script type="text/javascript">
	var pos = 0, ctx = null, saveCB, image = [];
	var canvas = document.createElement("canvas");
	canvas.setAttribute('width', 240);
	canvas.setAttribute('height', 300);

	if (canvas.toDataURL) {

		ctx = canvas.getContext("2d");

		image = ctx.getImageData(0, 0,240, 300);

		saveCB = function(data) {

			var col = data.split(";");
			var img = image;

			for (var i = 0; i < 240; i++) {
				var tmp = parseInt(col[i]);
				img.data[pos + 0] = (tmp >> 16) & 0xff;
				img.data[pos + 1] = (tmp >> 8) & 0xff;
				img.data[pos + 2] = tmp & 0xff;
				img.data[pos + 3] = 0xff;
				pos += 4;
			}

			if (pos >= 4 * 240 * 300) {
				ctx.putImageData(img, 0, 0);
				var str = canvas.toDataURL("image/png");
				console.log(str);
				document.getElementById("imgs").setAttribute("src",	str);
				document.getElementById("avatar").value = str.substring(22);
				console.log(str);
				/* 				$.post("/upload.php", {
				 type : "data",
				 image : str
				 }); */
				pos = 0;
			}
		};

	} else {

		saveCB = function(data) {
			image.push(data);

			pos += 4 * 102;

			if (pos >= 4 * 102 * 126) {
				var str = image.join('|');
				console.log(str);
				/* 				$.post("/upload.php", {
				 type : "pixel",
				 image : str
				 }); */
				pos = 0;
			}
		};
	}
	$("#webcam").webcam({
		width :240,
		height:300,
		mode : "callback", //stream,save，回调模式,流模式和保存模式
		swffile : "/jscam.swf",
		onTick : function(remain) {
			if (0 == remain) {
				$("#status").text("拍照成功!");
			} else {
				$("#status").text("倒计时" + remain + "秒钟...");
			}
		},
		onSave : saveCB,
		onCapture : function() { //捕获图像
			webcam.save();
		},
		debug : function(type, string) { //控制台信息
			console.log(type + ": " + string);
		},
		onLoad : function() { //flash 加载完毕执行
			console.log('加载完毕！')
			var cams = webcam.getCameraList();
			for ( var i in cams) {
				$("body").append("<p>" + cams[i] + "</p>");
			}
		}
	});
	$(".play").click(function() {
		webcam.capture(0); //拍照，参数5是倒计时
	});
</script>
<style>
#avatar_ad {
	border: 1px solid #ccc;
	width: 102px;
	height: 126px;
	position: absolute;
	top: 10%;
	right: 20%;
}

#avatar_ad1 {
	width: 160px;
	height: 120px;
	position: absolute;
	top: 42%;
	right: 22%;
}
#webcam{ border: 1px solid #666666; width: auto; height: auto; float: left; }
</style>
