
<div id="print_8" style="display: none">
	<table class="MsoNormalTable" width="670"
		style="border-collapse: collapse; border: none;" cellspacing="0"
		cellpadding="0" border="1">
		<tbody>
			<tr>
				<td rowspan="2" style="border: solid windowtext 1.0pt;" width="73">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">既往</span></b><b><span
							style="font-family: 宋体;"></span></b>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">病史</span></b><b><span
							style="font-family: 宋体;"></span></b>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="66">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">病</span></b><b><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>名</span></span></b>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">肝</span></b><b><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>类</span></span></b>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">痢</span></b><b><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>疾</span></span></b>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">伤</span></b><b><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>寒</span></span></b>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">肺结核</span></b><b><span
							style="font-family: 宋体;"></span></b>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">皮肤病</span></b><b><span
							style="font-family: 宋体;"></span></b>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<b><span style="font-family: 宋体;">其</span></b><b><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>它</span></span></b>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="66">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">患病时间</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="71">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td rowspan="4" style="border: solid windowtext 1.0pt;" width="73">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">体征</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">心</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="230">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="41">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">肝</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="4" style="border: solid windowtext 1.0pt;" width="182">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">肺</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="230">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="41">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">脾</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="4" style="border: solid windowtext 1.0pt;" width="182">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">皮肤</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="12" style="border: solid windowtext 1.0pt;" width="454">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">其它</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="230">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="77">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">医师签名</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td rowspan="2" style="border: solid windowtext 1.0pt;" width="73">
					<p class="MsoNormal" style="font-size: 14px;">
						视力及辨色力<br>（直接接触药品质量检验、验收、养护人员）
					</p>
					<p class="MsoNormal"></p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="62">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">视力</span> <span
							style="font-family: 宋体;"></span>
					</p>

				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="102">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">左</span> <span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="104">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="77">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">右</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border: solid windowtext 1.0pt;" width="62">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">辨色力</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="5" style="border: solid windowtext 1.0pt;" width="206">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="77">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">医师签名</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="border: solid windowtext 1.0pt;" width="73">
					<p class="MsoNormal" style="text-align: center;" align="center">
						<span style="font-family: 宋体;">摄影检查</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal" style="text-align: center;" align="center">
						<span style="font-family: 宋体;">胸部</span><span
							style="font-family: 宋体;">x<span>射线</span></span>
					</p>
				</td>
				<td colspan="13" style="border: solid windowtext 1.0pt;" width="491">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体;">正常</span>
					</p>
					<p class="MsoNormal">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-indent: 210.0pt;">
						<span style="font-family: 宋体;">医师签名</span><span
							style="font-family: 宋体;">:</span>
					</p>
				</td>
			</tr>
			<tr>
				<td rowspan="7" style="border: solid windowtext 1.0pt;" width="73">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">实 化</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">验 验</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">室 单</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">检 附</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">查 后</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="4" style="border: solid windowtext 1.0pt;" width="137">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">检</span><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>查</span><span>&nbsp;
						</span><span>项</span><span>&nbsp; </span><span>目</span></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">单</span><span
							style="font-family: 宋体;"><span>&nbsp; </span><span>位</span><span>&nbsp;
						</span><span>结</span><span>&nbsp; </span><span>果</span></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">检验师签名</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
			</tr>
			<tr>
				<td rowspan="2" style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">大便</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">培养</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="99">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">痢疾杆菌</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">阴性</span>
					</p>
				</td>
				<td colspan="3" rowspan="2" style="border: solid windowtext 1.0pt;"
					width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;"></span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="99">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">伤寒或副伤寒</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">正常</span>
					</p>
				</td>
			</tr>
			<tr>
				<td rowspan="3" style="border: solid windowtext 1.0pt;" width="38">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">肝</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">功</span><span
							style="font-family: 宋体;"></span>
					</p>
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">能</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="99">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">谷丙转氨酶</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">阴性</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="99">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">HAV-IgM </span><sup><span
							style="font-size: 14.0pt; font-family: 宋体;">*</span></sup><sup><span
							style="font-family: 宋体;"></span></sup>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="99">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">HEV-IgM </span><sup><span
							style="font-size: 14.0pt; font-family: 宋体;">*</span></sup><sup><span
							style="font-family: 宋体;"></span></sup>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="border: solid windowtext 1.0pt;" width="137">
					<p class="MsoNormal" style="margin-left: -2.4pt;">
						<span style="font-family: 宋体; padding-left: 10px">其它</span><span
							style="font-family: 宋体;"></span>
					</p>
				</td>
				<td colspan="6" style="border: solid windowtext 1.0pt;" width="208">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
				<td colspan="3" style="border: solid windowtext 1.0pt;" width="147">
					<p class="MsoNormal"
						style="margin-left: -2.4pt; text-align: center;" align="center">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="14" style="border: solid windowtext 1.0pt;" width="565"
					valign="top">
					<p class="MsoNormal"
						style="margin-left: .85pt; text-indent: 5.25pt;">
						<span style="font-family: 宋体;">检查结论</span><span
							style="font-family: 宋体;">:</span>
					</p>
					<p class="MsoNormal" style="margin-left: .85pt;">
						<span style="font-family: 宋体;">&nbsp;</span>
					</p>
					<p class="MsoNormal"
						style="margin-left: .85pt; text-indent: 194.25pt;">
						<span style="font-family: 宋体;">主检医师签名</span> <span
							style="font-family: 宋体;">: <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<span>(公章)</span>
						</span>
					</p>
					<p class="MsoNormal" style="margin-left: 111.7pt;">
						<span style="font-family: 宋体;"> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<span>年</span><span>&nbsp;&nbsp; </span><span>月</span><span>&nbsp;&nbsp;</span><span>日</span>
						</span>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="14"
					style="border-bottom: none; border-left: none; border-right: none;"
					width="565" valign="middle"><span
					style="padding-left: 10px; font-size: 14.0pt; font-family: 仿宋_GB2312; color: red; height: 60px; display: inline-block; line-height: 60px">
						*说明：发现谷丙转氨酶异常的，加做 <span
						style="font-size: 14.0pt; font-family: 宋体;">HAV-IgM、HEV-IgM两个指标。</span>
				</span></td>
			</tr>
		</tbody>
	</table>
</div>